@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Share section start */


* {
    margin: 0;
    padding: 0;
}

.btn-learnMore {

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;


}




/* Share section end */



/* Banner Section Start  */

.banner_container {
    background-image: url(images/Hero-bg.png);
    border: 2px dashed lightgray;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1440px;
    max-height: 652px;


}

.banner_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 652px;
    margin-top: 20px;
}

.banner_content h1 {

    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner_content p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.banner_content .btn_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Banner Section End  */

/* Development Section Start  */

.development_section_container {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1140px;
    max-height: 1395px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 20px;
}

.first-development-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 70px;
    /* border: 2px solid red; */
}

.first-development-content h1 {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
}

.first-development-content p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------- */
.second-development-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 60px 110px;
    /* border: 2px solid red; */


}

.second-development-learn-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 20px; */
    background: linear-gradient(to left, rgba(13, 19, 33, 0.02), white);
}



.second-development-content h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 20px;
}

.second-development-content p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}


/* ----------------------------------------------------------------------------------------- */


.third-development-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 60px 110px;
    /* border: 2px solid red; */


}

.third-development-learn-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 20px; */
    background: linear-gradient(to right, rgba(13, 19, 33, 0.02), white);
}



.third-development-content h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 20px;
}

.third-development-content p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}


/* ---------------------------------------------------------------------------------------------------------- */

.forth-development-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 60px 110px;
    /* border: 2px solid red; */


}

.forth-development-learn-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 20px; */
    background: linear-gradient(to left, rgba(13, 19, 33, 0.02), white);
}



.forth-development-content h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 20px;
}

.forth-development-content p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}


/* ------------------------------My inspiration-------------------------------------------------------- */
.inspiration-container {
    width: 1140px;
    height: 614px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 0 20px;
}

.my-inspiration-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.my-inspiration-content h1 {
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 30px 0;
}

.my-inspiration-content p {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.my-inspiration-video {
    margin: 20px;
    width: 1140px;
    height: 550;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    /* margin: 0 auto; */


}

/* ------------------------------------------My Current Target------------------------------------------------------------- */


.current-target-container {

    width: 1140px;
    height: 463px;
    margin: 0 auto;
}

.current-target-container h3 {
    font-size: 32px;
    font-weight: 800;

}


.current-target-content {

    width: 1140px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.current-target-content h1 {
    padding-bottom: 20px;
}

.current-target-html-css-javascript {
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.current-target-html {

    width: 300px;
    height: 250px;
    padding: 20px;
    margin-right: 20px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.current-target-html h3, p, img {
    padding-bottom: 20px;
    font-family: "Azeret Mono";
}

.current-target-css {
    width: 300px;
    height: 250px;
    margin-right: 20px;
    padding: 20px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.current-target-css h3, p, img {
    padding-bottom: 20px;
}

.current-target-javascript {

    width: 300px;
    height: 250px;

    padding: 20px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.current-target-javascript h3, p, img {
    padding-bottom: 20px;
}

/* -----------------------------------------------My Next Target-----------------------------------------------  */




/* ------------------------I need Support---------------------------------------------------------------------- */



.support_container {
    width: 1140px;
    height: 314px;
    background-image: url(images/handshake.jpg);
    border: 2px solid rgb(162, 156, 156);
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 8px;


}

.support_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 652px;
    margin-top: 20px;
}

.support_content h1 {

    color: white;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 292px;
    height: 36px;
    margin-bottom: 30px;

}

.support_content p {
    color: rgb(255, 255, 255);
    ;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.support_content .txt_support {
    display: inline;
    width: 548px;
    height: 57px;
}


.support_content .btn_submit {
    width: 120px;
    height: 58px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-grow: 0;
    margin: 0px 16px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.section-footer-container {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 40px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.footer-content h5 {
    margin-top: 30px;
    display: inline;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;

    margin-top: 30px;
    padding-top: 20px;
    padding-right: 540px;

}

.footer-content img {
    padding-top: 30px;
    margin: 10px;
}